# Environment variables for the application

# Open Weather API Key
OPEN_WEATHER_API_KEY=

# Spotify API credentials
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Spotify Token Encryption Key
SPOTIFY_TOKEN_SECRET_KEY=

# Spoonacular API Key
SPOONACULAR_API_KEY=

# Twilio API credentials
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=
TWILIO_PHONE_NUMBER=
USER_PHONE_NUMBER=

# Google Search Engine ID
GOOGLE_SEARCH_ENGINE_ID=
GOOGLE_SEARCH_API_KEY=

# News API Key
NEWS_API_KEY=

# Movie Database API Key
OMDB_API_KEY=

# Stripe API Key
STRIPE_API_KEY=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_DONATION_URL=

# MongoDB connection string
MONGODB_URI=
MONGODB_NAME=

# Google OAuth credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GitHub OAuth credentials
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# JWT secret for authentication
JWT_SECRET=

# Nodemailer configuration
EMAIL_USER=
EMAIL_PASSWORD=

# To Remove SSL Verification Warning
NODE_TLS_REJECT_UNAUTHORIZED='0'

# Auth.js configuration
NEXT_PUBLIC_APP_URL="http://localhost:3000"  # or your production URL
AUTH_SECRET=
